@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

input[type=text] {
    @apply disabled:text-gray-500 disabled:bg-gray-300 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300 text-gray-600 block w-full px-2 shadow-sm border-gray-300 rounded-md mb-4;
}

/* Scroll thumb styles */
.scrollbar::-webkit-scrollbar {
    width: .5rem;
}
.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 rounded-sm;
}
.scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-gray-300 dark:bg-gray-700;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    @apply bg-gray-400 dark:bg-gray-600;
}

/* Scroll track styles (Background) */
.scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-800;
}
.scrollbar.scrollbar-dark::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-gray-900;
}


.scrollbar::-webkit-scrollbar-track:hover,
.scrollbar::-webkit-scrollbar-track:active {
    @apply bg-gray-200 dark:bg-gray-800;
}

.scrollbar.scrollbar-dark::-webkit-scrollbar-track:hover,
.scrollbar.scrollbar-dark::-webkit-scrollbar-track:active {
    @apply dark:bg-gray-900;
}


/* noUiSlider overrides */
.noUi-target {
    @apply border-none shadow-none bg-gray-100 dark:bg-gray-800;
}
.noUi-connect {
    @apply bg-emerald-700 dark:bg-emerald-700;
}
.noUi-handle {
    @apply shadow-none hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-600 dark:hover:bg-gray-700 after:content-none before:content-none rounded-md p-0;
}
.primary-link {
    @apply text-emerald-700 dark:text-emerald-500 dark:hover:text-emerald-600 hover:text-emerald-600;
}

.button-primary-md {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-emerald-600 dark:bg-emerald-800 dark:hover:bg-emerald-700 disabled:opacity-75 dark:disabled:bg-emerald-900 disabled:hover:bg-emerald-600 dark:disabled:hover:bg-emerald-900 disabled:opacity-70 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}
.button-primary-sm {
    @apply inline-flex items-center px-1.5 py-0.5 border border-transparent text-xs font-medium rounded-md shadow-sm text-white bg-emerald-600 dark:bg-emerald-800 dark:hover:bg-emerald-700 disabled:opacity-75 dark:disabled:bg-emerald-900 disabled:hover:bg-emerald-600 dark:disabled:hover:bg-emerald-900 disabled:opacity-70 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}
.button-primary-outline-md {
    @apply inline-flex items-center px-4 py-2 border border-emerald-500 dark:border-emerald-800 text-sm font-medium rounded-md text-emerald-600 bg-transparent dark:bg-transparent dark:text-emerald-600 dark:hover:bg-emerald-800 dark:hover:text-white hover:bg-emerald-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}
.button-secondary-md {
    @apply inline-flex items-center px-4 py-2 border border-transparent dark:border-emerald-800 text-sm font-medium rounded-md text-emerald-700 bg-emerald-100 dark:bg-transparent dark:text-emerald-600 dark:hover:bg-emerald-800 dark:hover:text-white hover:bg-emerald-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500;
}
.button-muted-md {
    @apply inline-flex items-center px-4 py-2 border border-transparent dark:border-gray-800 text-sm font-medium rounded-md text-gray-700 bg-gray-100 dark:bg-transparent dark:text-gray-600 dark:hover:bg-gray-800 dark:hover:text-white hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}
.button-muted-outline-md {
    @apply inline-flex items-center px-4 py-2 border border-gray-500 dark:border-gray-600 text-sm font-medium rounded-md text-gray-500 bg-transparent dark:bg-transparent dark:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500;
}
.button-danger-md {
    @apply inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-700 dark:bg-red-800 dark:hover:bg-red-700 disabled:bg-red-300 dark:disabled:bg-red-900 disabled:hover:bg-red-300 dark:disabled:hover:bg-red-900 disabled:opacity-70 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}
.button-danger-outline-md {
    @apply inline-flex items-center px-4 py-2 border border-red-500 dark:border-red-800 text-sm font-medium rounded-md text-red-600 bg-transparent dark:bg-transparent dark:text-red-600 dark:hover:bg-red-800 dark:hover:text-white hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500;
}
[v-cloak] {
    @apply hidden;
}

@media (horizontal-viewport-segments: 2) {
    #monsters_box {
        min-width: env(viewport-segment-right 0 0);
        margin-right: calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0));
    }

    #encounter_box{
        min-width: env(viewport-segment-right 0 0);
        max-width: env(viewport-segment-right 0 0);
    }
}

.surface-duo-2 #encounter_box {
    right: calc(50% + 16px);
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    @apply py-8 !w-auto !inset-y-0 !left-0;
}
.surface-duo-2 #monsters_box {
    left: calc(50% + 16px);
    @apply !w-auto !right-0 !px-0 !inset-y-0 py-8;
}

.tippy-box[data-theme~='dark'] {
    @apply bg-gray-600;
}

.tippy-box[data-theme~='dark'][data-placement^='top'] > .tippy-arrow::before {
    @apply border-t-gray-600;
}
.tippy-box[data-theme~='dark'][data-placement^='bottom'] > .tippy-arrow::before {
    @apply border-b-gray-600;
}
.tippy-box[data-theme~='dark'][data-placement^='left'] > .tippy-arrow::before {
    @apply border-l-gray-600;
}
.tippy-box[data-theme~='dark'][data-placement^='right'] > .tippy-arrow::before {
    @apply border-r-gray-600;
}

.notifications-enter-active,
.notifications-leave-active {
    transition: all 0.5s ease;
}
.notifications-enter-from,
.notifications-leave-to {
    opacity: 0;
    transform: translateX(30px);
}

div.multiselect {
    @apply dark:bg-gray-700 dark:border-gray-600;
}
.multiselect-dropdown {
    @apply dark:bg-gray-700 dark:border-gray-600;
}
.multiselect-option.is-pointed {
    @apply dark:bg-gray-600 dark:text-gray-300;
}
.multiselect-tag {
    @apply inline-flex items-center pl-2.5 py-0.5 rounded-md text-sm font-medium bg-emerald-100 text-emerald-800 dark:bg-emerald-800 dark:text-emerald-100;
}
.multiselect-tag-remove-icon {
    @apply dark:text-gray-50 dark:bg-gray-50;
}

.multiselect-clear-icon {
    @apply dark:bg-none dark:text-gray-50;
}

.multiselect-caret {
    @apply dark:text-white;
}

.multiselect-tag[aria-label*="Not "]{
    @apply bg-red-200 text-red-800 dark:bg-red-800 dark:text-red-100;
}
